html, body {
    margin: 0;
    background-color: #F5F1F8;
    min-height: 100%;
}

h1 {
    font-family: 'Rubik', 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 6rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
